@import 'https://fonts.googleapis.com/css?family=Risque|Roboto:400,700';
* { margin:0; padding:0; box-sizing:border-box; }
body {
  color:#222;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color:#FF0000;
  line-height: 1.3;
}
header {
  padding: 1em;
  text-align: center;
}
section {
  padding:5em 0;
  border:1px solid;
}
h1 {
  color: #ffffff;
  font-size: 2.5em;
}
a {
  color: inherit;
  text-decoration: underline;;
}
nav a{
  color: #cccccc;
  font-style:italic;
  margin-right: .5em;
  text-align: center;
}
img {

}
p {
  font-family: 'Risque', cursive;
}
#splash {
  background:url(../images/family.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height: 85vh;
}
