@import 'https://fonts.googleapis.com/css?family=Risque|Roboto:400,700';
* { margin:0; padding:0; box-sizing:border-box; }
header {
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}
body {
  font-family: 'Risque', cursive;
  font-size: 20px;
  background-color:#FF0000;
  line-height: 1.3;
}
h1 {
  color: #ffffff;
  font-size: 50px;
}
a {
  color: inherit;
  text-decoration: underline;;
}
nav a{
  color: #cccccc;
  font-style:italic;
  margin-right: 10px;
  text-align: center;
  font-family

}
img {

}
title{
  color: black;
}
